@import (less) "css/font-awesome.css";
@import (less) "css/bootstrap.css";
@import (less) "css/index-slim.css";
@import (less) "css/style.css";
@import (less) "css/style-31.css";

@import "skin-less";




.ranking {
	position: absolute;
	bottom: -5.5rem;
	width: 84%;
	height: 10rem;
	background: rgba(0, 0, 0, 0.85);
	padding-left: .5rem;
	-webkit-transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
	transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
}